/* Only Small Desktop */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

}

/* mobile or only mobile */
@media (max-width: 767px) {

}

/* small device */
@media (min-width: 320px) and (max-width: 480px) {
    .single-slider {
        min-height: auto;
    }
    .hero-cap {
        margin-top: 10px;
    }
    .slider-area .hero-cap h2 {
        letter-spacing: 0px;
        font-size: 32px;
        padding-left: 12px;
        margin-bottom: 0;
    }
    .slider-area .hero-cap .breadcrumb {
        font-size: 15px;
        margin-bottom: 0;
        padding: 0.25rem 1rem 0.75rem 1rem;
    }
}