* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main {
    background-color: #f3f5fa;
}
p {
    font-size: 16px;
}
a {
    color: #ff5f13;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
.button-2 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn-card {
    padding: 7px 14px;
    transition: all .3s ease;
    color: #ff5f13;
    background-color: #fff;
    border: 2px solid #ff5f13; 
}
.btn-card:hover {
    color: #fff;
    background-color: #ff5f13;
    border: 2px solid #ff5f13;
}
.btn-card:focus {
    box-shadow: none;
}
.btn-query {
    padding: 3px 5px;
    transition: all .3s ease;
    color: #ff5f13;
    background-color: #fff;
    border: 1px solid #ff5f13;
}
.btn-query:hover {
    color: #fff;
    background-color: #ff5f13;
    border: 1px solid #ff5f13;
}
.btn-query:focus {
    box-shadow: none;
}
.btn-filter {
    padding: 5px 12px;
    transition: all .3s ease;
    color: #fff;
    background-color: #ff5f13;
    border: 1px solid #ff5f13; 
}
.btn-filter:hover {
    color: #ff5f13;
    background-color: #fff;
    border: 1px solid #ff5f13;
}
.btn-filter:focus {
    box-shadow: none;
}
.color-base {
    color: #009cff;
}
.section-padding {
    padding: 30px 0;
}
.section-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
h2.section-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
h2.section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #ff5f13;
    bottom: 0;
    left: calc(50% - 20px);
}

/* Shake Animation */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



/* glight box */

.glightbox-clean .gdesc-inner {
    padding: 5px 20px;
    text-align: center;
}
.glightbox-clean .gslide-title {
    margin-bottom: 0;
}
.logo {
    height: 3rem;
    width: 6rem;
}
.topbar-index-padding {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
}
.icon-box {
    padding: 2.5rem 1.5rem;
    box-shadow: 0px 0 1px 0 rgb(0 0 0 / 10%);
    transition: all ease-in-out 0.2s;
    background: #fff;
}
.icon-box:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.05);
}
.icon-box .icon {
    margin-bottom: 10px;
}
.icon-box .icon i {
    color: #009cff;
    font-size: 36px;
    transition: 0.3s;
}
.icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}
.icon-box h4 a {
    text-decoration: none;
    color: #37517e;
    transition: ease-in-out 0.3s;
}
.icon-box:hover h4 a {
    color: #009cff;
}
.icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
/* .icon-box:hover {
    transform: translateY(-10px);
} */

/* ----Section Welcome---- */
.about-img {
    overflow: hidden;
}
.about-img img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}
.about-img img:hover {
    transform: scale(1.05);
}

/* Feature */
.feature {
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/img/feature_background.jpg);
}
.top-margin {
    margin-top: 1.6rem;
}
/* Slider */
.single-slider {
    width: 100%;
    min-height: 450px;
    background-image: url(https://images.unsplash.com/photo-1509390144018-eeaf65052242?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    /* background-color: rgb(74 70 68 / 60%); */
    background-color: rgb(49 49 56 / 60%);
    background-blend-mode: color;
}
.slider-area .hero-cap h2 {
    color: #fff;
    font-size: 84px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: -4px;
    font-family: 'roboto', sans-serif;
}
.slider-area .hero-cap .breadcrumb {
    background: none;
    color: #eee;
    font-size: 18px;
    text-transform: capitalize;
    padding: 0.75rem 1rem;
    font-family: 'roboto', sans-serif;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #ccdae7;
}
/*-----Section Services-----------*/

.service .service-box {
    border-radius: 8px;
    border: 1px solid #ff5f13;
    padding: 45px 20px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.2s;
    background: #fff;
}
.service .service-box:hover {
    /* box-shadow: 3px 3px 8px rgb(255 95 19 / 45%); */
    box-shadow: 0px 0px 10px 3px rgb(255 95 19 / 45%);
}
.service .service-box .icon {
    margin-bottom: 10px;
}
.service .service-box .icon i {
    color: #ff5f13;
    font-size: 60px;
    transition: 0.3s;
}
.service .service-box  h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}
.service .service-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}
.service .service-box p {
    color: #848484;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.service .service-panel .post-category-widget {
    background: #fbf9ff;
    padding: 5px 5px 0px 10px;
    border: 1px solid #F15F22;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Product */
.product .product-container .card {
    border-radius: 8px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all 0.2s ease-in-out;
}
.product .product-container .card:hover {
    animation: shake 0.3s;
    animation-iteration-count: 1;
    box-shadow: 0 .5rem 1rem rgba(255, 95, 19, .15);
}
.product .product-container .img-box {
    overflow: hidden;
    border-radius: 8px;
}
.product .product-container .img-box img {
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.product .product-container .card:hover .img-box img {
    transform: scale(1.1);
}
.product .card-body {
    padding: 0;

}
.product .card-title {
    margin: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 17px;
    font-weight: 600;
    color: #000;    
    text-transform: capitalize;
}
.product .card-text {
    font-size: 14px;
    margin-bottom: 0.7rem;
    letter-spacing: 0.5px;
    color: #575a7b;
    font-weight: 400;
    height: 42px;
}
/* ------ Section Team --------*/
.team-name {
    color: #009cff;
    margin-bottom: 0.2rem;
}
.team-designation {
    font-weight: 400;
}
.team-img {
    overflow: hidden;
}
.card .team-img img {
    transition: all 0.6s;
}
.card:hover .team-img img {
    transform: scale(1.15);
}

 /* Management */
.management .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.management .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    color: #37517e;
    text-decoration: none;
}
.management .social a + a {
    margin-left: 8px;
}
.management .social a:hover {
    background-color: #009cff;
}
.management .social a:hover i {
    color: white; 
}
.management .social a i {
    font-size: 16px;
    margin: 0 2px;
}
.management .social .fb i {
    color: #4867aa;
}
.management .social .twitter i {
    color: #009df2;
}
.management .social .instagram i {
    color: #ff0000;
}
.management .social .linkedin i {
    color: #37517e;
}
/* Section Gallery */

#gallery .card {
    overflow: hidden;
}
#gallery .card-img-top {
    height: 180px;
    transition: all 0.2s ease-in-out;
}
#gallery .card:hover .card-img-top {
    transform: scale(1.05);
}
#gallery .image-black-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gallery .item-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 36px;
    width: 36px;
    color: #ff5f13;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
#gallery .item-view  i {
    font-size: 19px;
    margin-top: 9px;
    margin-left: 9px;
}
#gallery .image-black-cover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(56, 66, 77, 0.85);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
#gallery .card:hover .image-black-cover::before {
    height: 100%;
}
#gallery .card:hover .item-view {
    transform: scale(1);
    visibility: visible;
}

/* End Section Gallery */

/*--------Top Menu Bar Style----------*/
.top-menu {
    height: 2rem;
}
.top-menu nav {
    background-color: #ff5f13;
}
.top-menu .top-container-fluid a {
    font-size: 0.8rem; 
    color: white;
}
@media screen and (max-width: 768px) {
    .top-menu {
        height: 3.5rem;
    }
    .navbar>.top-container-fluid {
        justify-content: center;    
    }
}
.top-menu .navbar-brand:hover {
    color: #fff;
}
.nav-mod-title {
    color: #333;
    font-size: 1.6rem;
    font-family: fantasy;
}
.navbar-mod-brand {
    font-size: 0.8rem;
    color: white !important;
}
.nav-hov-link:hover.service > .dropdown-menu {
    display: block;   
    left: -72%;
    top: 100%;
}
.nav-hov-link:hover.product > .dropdown-menu {
    display: block;   
    left: -63%;
    top: 100%;
}
.dropdown-menu {
    border: none;
    box-shadow: 3px 8px rgb(128 128 128 / 15%);
    background-color: rgba(0, 12, 32, 0.8);
    color: #fff;
    width: 200px;
}
.service .dropdown-menu li, .product .dropdown-menu li {
    padding: 0.5rem 1rem;
}
.service .dropdown-menu .dropdown-item, .product .dropdown-menu .dropdown-item {
    padding: 0;
    color: #fff;
    white-space: unset;
    transition: all 0.3s ease-out 0s;
    text-transform: capitalize;
}
.service .dropdown-menu .dropdown-item:hover, .product .dropdown-menu .dropdown-item:hover {
    color: #f15f22;
    background-color: unset;
    padding-left: 6px;
}
.service .dropdown-menu .dropdown-item:focus, .product .dropdown-menu .dropdown-item:focus {
    color: unset;
    background-color: unset;
}
.service .dropdown-menu .dropdown-item.active, .service .dropdown-menu .dropdown-item:active, .product .dropdown-menu .dropdown-item.active, .product .dropdown-menu .dropdown-item:active {
    background-color: unset;
}
.product .dropdown-submenu {
    position: relative;
}
.product .dropdown-submenu > .dropdown-menu {
    display: block;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    left: 100%;
    margin-left: -1px;
    transition: all 0.3s ease-out 0s;
}
.product  .dropdown-submenu:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 0;
}
.product .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

/* Header Dropdown */
.product .submenu {
    display: inline-block;
    font-size: 15px;
}
.product .dropdown-submenu .icon {
    display: inline-block;
}
.product .dropdown-submenu .icon i {
    font-size: 14px;
    transform: rotate(90deg);
    transition: all 0.3s ease-out 0s;
}
.product  .dropdown-submenu:hover .icon i {
    transform: rotate(0deg);
}
/* Nav Bar Style */

/* .navbar-nav li:hover {
    background-color: #009cff;
} */
.nav-mod-item {
    /* width: 6rem; */
    /* font-size: 1.1rem; */
    text-align: center;
    font-weight: 400;
}

.navbar-light .navbar-nav .hover:hover {
    background-color: #009cff;
    color: white;
}
.top-container {
    margin: 0;
    max-width: 100%;
    height: 100%;
}
.navbar-light .navbar-nav .nav-mod-link {
    color: rgb(0 0 0 / 80%);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/* Partners */
#partner .partner-box {
    background: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.partner-img {
    max-width: 100%;
    height: auto;
}
.partner .client-title {
    text-align: center;
    background-color: transparent;
    font-weight: 700;
    color: #3c4554;
    text-shadow: 2px 2px 6px rgba(60, 69, 84, 0.3);
}



/* Responsive */
/* .p-height {
    height: 25rem;
} */
@media screen and (min-width: 1020px) {
    .p-height {
        height: 25rem;
    }
}
@media screen and (min-width: 1020px) {
    .carosel-height {
        height: 100%;
    }
}
@media screen and (min-width: 768px) {
    .c-border {
        border: 1px solid gray;
    }
}

/* Animation */
[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s;
}
/* portfolio option */
/*-----Responsive The section Portfolio------*/
@media screen and (min-width: 992px) {
    .section-portfolio { 
        width: 90%;
    }
}
/*----End Responsive portfolio-----*/
.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

/* Portfolio Isotop Section */
.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #009cff;
    color: #fff;
  }
  
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
  }
  
  .portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
  }
  
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background: rgba(55, 81, 126, 0.8);
    padding: 10px 15px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 18px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #009cff;
  }
  
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
  }
  
  .portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
  }
  
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #009cff;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #009cff;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }

/* End Portfolio Isotop Section */

/* --- Every Sections Heading Style --- */
.container h2.section-heading {
    text-transform: uppercase;
    padding: 2px 0;
    color: #37517e;
    text-shadow: 2px 1px 3px #b5c6e4;
}
/* --- End of Every Sections Heading --- */

/* --- Section Contact Us --- */
/* Section Contact Us Responsive */
@media screen and (min-width: 992px) {
    .section-contact-us {
        width: 90%;
    }
}
#contact .php-email-form {
    padding: 30px;
    background: #fff;
    border-top: 3px solid #ff5f13;
    border-bottom: 3px solid #ff5f13;
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 12%);
}

#contact .php-email-form .form-group {
    margin-bottom: 10px;
    padding-bottom: 6px;
}
#contact .php-email-form label {
    font-size: 1rem;
    padding-bottom: 6px;
    color: #37517e;
    font-weight: 500;
}
#contact .php-email-form input, #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    border-radius: 4px;
    line-height: 1.2;
    color: #37517e;
    border: 1px solid rgba(95, 120, 163, 0.4);
}
#contact .php-email-form input {
    height: 44px;
}
#contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
    border: 1px solid rgba(95, 120, 163, 0.8);
}
#contact .php-email-form button[type="submit"] {
    background: #ff5f13;
    border: 0;
    padding: 6px 8px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    font-size: 1rem;
}
#contact .php-email-form button[type="submit"]:hover {
    background: #209dd8;
}

/* 2nd part started */
#contact .info {
    border-top: 3px solid #ff5f13;
    border-bottom: 3px solid #ff5f13;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 8px 0px rgb(0 0 0 / 12%);
}
#contact .info i {
    font-size: 20px;
    color: #ff5f13;
    float: left;
    width: 40px;
    height: 40px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
#contact .info .email:hover i, #contact .info .address:hover i, #contact .info .phone:hover i {
    background: #009cff;
    color: #fff;
}
#contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #37517e;
}
#contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #6182ba;
}
#contact .info a {
    display: inline-block;
    padding: 0 0 10px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #6182ba;
}

/* partners */
.client-box .icon-box-client {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}



/* Footer */
#footer {
    font-size: 14px;
    background: #37517e;
}
.footer-top {
    padding: 30px 0 15px 0;
    background-color: #121212;
}
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #9297a1;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top h3 {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 10px;
    padding: 2px 0;
    text-transform: uppercase;
    color: #9297a1;
    font-weight: 600;
}
#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0;
}
#footer .footer-top .footer-contact a {
    color: #777777;
    transition: color 0.2s;
}
#footer .footer-top .footer-contact a:hover {
    color: #b9b9b9;
    text-decoration: underline;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #9ba8b1;
    font-size: 11px;
    line-height: 1;
}
#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}
#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #009cff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
    background: #209dd8;
}
#footer .footer-top .footer-links .social-text {
    font-size: 15px;
    color: #777777;
}
#footer .footer-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
}
#footer .footer-bottom .copyright {
    float: left;
}
#footer .footer-bottom .copyright a {
    text-decoration: none;
    color: #fff;
}
#footer .footer-bottom .credit {
    float: right;
}
#footer .footer-bottom .highlights {
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-weight: 700;
}
#footer .footer-bottom .highlights:hover {
    color: #ff5f13;
}

/*------Footer Responsive-------*/
@media screen and (max-width: 768px) {
    #footer .footer-bottom .copyright, #footer .footer-bottom .credit { 
        float: none;
        text-align: center;
    }
}


/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

.header-scrolled {
    background: rgba(40, 58, 90, 0.9);
}

.top-nav-collapse {
    background: #fff;
    top: 0px !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 58px;
    box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 6%);
    animation-duration: 1s;;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}